html {
    background: linear-gradient(white 10%, darkblue, black);
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    background-color: gray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: gray;
}

#siteSelect {
    display: flex;
    justify-content: center;
    margin-top: 30%;
}
