body {
    margin: 0;
    background: linear-gradient(#e66465, #9198e5);
}

header {
    display: flex;
    justify-content: center;
}

a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: gray;
}