body {
    margin: 0;
    background: linear-gradient(white 10%, darkblue, black);
}

header {
    display: flex;
    justify-content: center;
}

a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: gray;
}